<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
          <div class="text-center mt-3">
            <h2><strong>Edit <%= resource_name.to_s.humanize %></strong></h2>
          </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :user_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "user_name" }%>
            <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <% if current_user.company_name != nil %>
            <%= f.input :company_name,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "company_name" }%>
            <% end %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", class: "btn-edit-user" %>
          </div>
        <% end %>

        <%# <h3>Cancel my account</h3> %>

        <p><%= link_to "Cancel my account", user_registration_path(current_user), data: { confirm: "Really ???" }, method: :delete, class: "btn-new-book", style: "text-decoration: none" %></p>

        <%= link_to "Back", :back, style: "text-decoration: none" %>
    </div>
  </div>
</div>
