<div class="position-relative bg-grey">
  <div class="paparazzi-banner text-center" style="background-image: url(<%= asset_path('paparazzis-index.gif')%>);">
      <h1>Check out our selection of professional Paparazzi!</h1>
  </div>

  <div class= "container">
    <div class="row">
      <% @paparazzi.each do |paparazzi| %>
        <div class="col-md-4">
          <div class="paparazzi-card">
            <div class="paparazzi-card-image" style="background-image: url(<%= cl_image_path(paparazzi.photo.key, height: 200)%>)"></div>
              <div class="paparazzi-card-content">
              <div class="paparazzi-card-title">
                <h4><%= paparazzi.name %></h4>
              </div>
                <div class="flex-align-items-center">
                  <span><strong>Rating:</strong> <%= paparazzi.rating %> ⭐</span>
                </div>
                <div class="flex-align-items-center">
                  <span><strong>Country:</strong> <%= paparazzi.location %></span>
                </div>
               <div class="flex-align-items-center">
                  <span> <strong> Moto:</strong> <%= paparazzi.style %></span>
                </div>
                <div class="flex-align-items-bottom">
                  <span> <strong>Price:</strong> <%= paparazzi.price %> $/h</span>
                </div>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>

























<%# <div class= "position-relative">
  <div class="paparazzi-banner text-center" style="background-image: url(<%= asset_path('paparazzis-index.gif')%>);">
    <%# <h1>Check out our selection of professional Paparazzi!</h1> %>
  <%# </div> %>



  <%# <div class="container"> %>
    <%# <div class="row"> %>
      <%# <% @paparazzi.each do |paparazzi| %>
        <%# <div class="col-md-4"> %>
          <%# <div class="card-product"> %>
          <%# <div class="card-image" style="background-image: url(<%= cl_image_path(paparazzi.photo.key, height: 200)%>)"></div> %>
            <%# <div class=""> %>
              <%# <div class=""> %>
                <%# <h4><%= paparazzi.name</h4> %>
              <%# </div> %>
              <%# <p>Price: <%= paparazzi.price $/h</p>  %>
              <%# <div class="flex"> %>
                <%# <div class="flex align-items-center"> %>
                  <%# <span>Rating: <%= paparazzi.rating ⭐️</span> %>
                <%# </div> %>
                <%# <div class="flex align-items-center"> %>
                  <%# <span>Country: <%= paparazzi.location</span> %>
                <%# </div> %>
                <%# <div class="flex align-items-center">
                  <%# <span> Moto: <%= paparazzi.style</span> %>
                <%# </div> %>
              <%# </div> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
      <%# <% end %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
