<div class="container">
  <h1>Choose your paparazzi</h1>
</div>
<div class="row">
  <% @paparazzi.each do |paparazzi| %>
    <div class="col-md-4">
      <div class="flat-card">
        <div class="card-category" style="background-image: url(<%= cl_image_path(paparazzi.photo.key, height: 200)%>)"></div>
        <div class="flat-card-content">
          <div class="flat-card-title">
            <h4><%= paparazzi.name %></h4>
          </div>
          <p>Price: <%= paparazzi.price %> $/h</p>
          <div class="flex">
            <div class="flex align-items-center">
              <span>Rating: <%= paparazzi.rating %> ⭐️</span>
            </div>
            <div class="flex align-items-center">
              <span>Country: <%= paparazzi.location %></span>
            </div>
            <div class="flex align-items-center">
              <span> Moto: <%= paparazzi.style %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
