<div class="container">
   <div class="new-pap-form">
         <br>
         <h1><strong>Add a New Paparazzi</strong></h1>
         <%= simple_form_for(@paparazzi) do |f| %>
         <div class="form-inputs">
           <%= f.input :name %>
           <%= f.input :style %>
           <%= f.input :location %>
           <%= f.input :price %>
           <%= f.input :description %>
           <%= f.input :photo, as: :file %>
         </div>

         <div class="form-actions">
            <div class="form-actions-button">
               <%= f.button :submit %>
            </div>
         </div>
       <% end %>

         <br>
   </div>
</div>
