<div class="w-100">
  <div class="pap-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path('black-amp.jpg') %>);">
    <div class="container">
      <div class="pap-banner-content">
        <h1><%= @paparazzi.name %></h1>
        <p>Company: <%= @paparazzi.user.company_name %></p>
        <p>Specialty: <%= @paparazzi.style %></p>
      </div>
      <div class="buttons pt-2">
        <%= link_to(new_booking_path, class: "btn btn-light") do %>
        Book <%= @paparazzi.name.split.first %>!
        <% end%>
      </div>
    </div>
  </div>

  <div class="meta-details shadow">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="the-meta">
        <div class="small-body">
          <span class="d-none d-md-inline"><i class="fa-solid fa-location-dot"></i> </span>
          <strong><%= @paparazzi.location.split.last %></strong>
        </div>
        <div class="divider"></div>
      </div>
      <div class="the-meta">
      <% if @paparazzi.rating != nil %>
        <span class="d-none d-md-inline"></span>
        <strong><% @paparazzi.rating.times do %>
          <i class="fas fa-star star-yellow"></i></span>
          <% end %>
        </h6></strong>
      <% else %>
        <i class="fa-solid fa-face-meh"></i>
      <% end %>
        <div class="divider"></div>
      </div>
      <div class="the-meta">
        <span class="d-none d-md-inline"><i class="fa-solid fa-sterling-sign"></i> </span>
        <strong>&nbsp;<%= @paparazzi.price.to_i %> / 2h</strong>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-evenly mt-5 border-bottom">
    <div class="card mb-5" style="width: 500px;">
      <img src="<%= cl_image_path(@paparazzi.photo.key, height: 200)%>" class="card-img-top" style="height: 350px" alt="Image of a paparazzi">
      <div class="card-body">
        <h5 class="card-title"><strong>A bit about <%= @paparazzi.name.split.first %>:</strong></h5>
        <p class="card-text"><%= @paparazzi.description %></p>
        <%= link_to(new_booking_path, class: "btn btn-dark") do %>
          Book <%= @paparazzi.name.split.first %>!
        <% end%>
      </div>
    </div>

    <div class="card mb-5" style="width: 500px;">
      <div data-controller="map"
        id="map"
        class="card-img-top"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        style="width: 100%; height: 350px;">
      </div>
      <div class="card-body">
        <% if @paparazzi.reviews.present? %>
          <h5 class="text-center mt-3"><strong>Reviews</strong></h5>
          <div class="d-flex justify-content-center mt-3">
            <div id="carouselExampleDark" class="carousel carousel-dark slide card mb-3 " style="width: 350px;" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% @paparazzi.reviews.each_with_index do |review, index| %>
                  <div id="carousel_item_<%= index %>" class="carousel-item <%= index == 0 ? 'active' : '' %>">
                      <div class="card-body d-flex flex-column align-items-center p-5">
                        <h5 class="card-title"><strong><%= review.booking.user.user_name %></strong></h5>
                        <h6 class="card-subtitle mb-2 mt-2 text-muted">
                          <% review.rating.times do %>
                            <i class="fas fa-star star-yellow"></i></span>
                          <% end %>
                        </h6>
                        <p class="card-text" style="font-style: italic">"<%= review.comment %>"</p>
                      </div>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        <% else %>
          <div class="section-spacing bg-grey mt-2 mb-5">
            <div class="container">
              <h5 class="text-center"><strong>FAQs</strong></h5>
              <p><strong>How many Paparazzi will attend the event?<br></strong>As many as you book! We have no limit on the number of paparazzi you can book. The price quoted is for our standard 2 hour slot.</p>
              <p><strong>Are prices the same for every paparazzi?<br></strong>No. Our prices vary depending on the experience of the paparazzi and the bizareness of your request.</p>
              <p><strong>What do the Paparazzi wear at the event?</strong><br>Classic retro (Macs and trilbys), modern (leather jackets), suited and booted (smart stylish suits).</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
