<div class="position-relative bg-grey">
  <div class="paparazzi-banner text-center" style="background-image: url(<%= asset_path('paparazzis-index.gif')%>);">
      <h1>Check out our selection of professional Paparazzi!</h1>
  </div>

  <div class="container">
    <div class= "row mt-4">
        <% @paparazzis.each do |paparazzi| %>
          <div class="col-md-4">
            <div class="paparazzi-card">
              <div class="paparazzi-card-image" style="background-image: url(<%= cl_image_path(paparazzi.photo.key, height: 200)%>)"></div>
              <div class="paparazzi-card-content">
                  <div class="paparazzi-card-title">
                    <h4><%= paparazzi.name %></h4>
                  </div>
                  <div class="flex-align-items-center">
                    <span><strong>Rating:</strong> <%=paparazzi.rating %>
                    <i class="fas fa-star star-yellow"></i>
                    </span>
                  </div>
                  <div class="flex-align-items-center">
                    <span><strong>Country:</strong> <%= paparazzi.location %></span>
                  </div>
                  <div class="flex-align-items-center">
                    <span> <strong> Moto:</strong> <%= paparazzi.style %></span>
                  </div>

                  <div class="d-flex align-items-center justify-content-between mt-2">
                    <h6> <strong>Price:</strong> <%= paparazzi.price %> $/h</h6>
                  <%= link_to "Book!", new_booking_path, class: "btn btn-flat" %>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
    </div>
</div>
